##
## SSL settings
##

ssl = required

{% for ld in letsencrypt_domains %}
{% if dovecot_domain in letsencrypt_domains[ld] %}
ssl_cert = </etc/letsencrypt/live/{{ ld }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ ld }}/privkey.pem
{% endif %}
{% endfor %}

ssl_dh = </usr/share/dovecot/dh.pem

ssl_min_protocol = TLSv1.3
ssl_prefer_server_ciphers = no

