##
## LDA specific settings (also used by LMTP)
##

postmaster_address = postmaster@{{ dovecot_domain }}
hostname = {{ dovecot_domain }}

#sendmail_path = /usr/sbin/sendmail
#submission_host =

lda_mailbox_autocreate = yes
lda_mailbox_autosubscribe = yes

protocol lda {
  mail_plugins = $mail_plugins sieve
}
