driver = pgsql

connect = host=/run/postgresql/ dbname={{ nextcloud_db_name }} user={{ nextcloud_db_user_name }} password={{ nextcloud_db_user_password }}

default_pass_scheme = ARGON2I

password_query = SELECT uid AS username, substring(password,3) as password, '%d' AS domain FROM oc_users WHERE uid = '%n'
